@model IEnumerable<XPTOlibrary.Models.BookInformation>

<div class="row pb-3">
	<br />
@using (Html.BeginForm())
{
	<br>
    <h5>
        @Html.TextBox("SearchString")  
        <input type="submit" value="Search" /></h5>
}
@*		<!-- Your Form -->
@using(Html.BeginForm("Index", "Home", FormMethod.Post)){
    <!-- Example of a Checked Checkbox -->
    @Html.CheckBox("Example")
    <input type="submit" value="Only show available books" />
}*@

	@foreach(var book in Model)
	{
		<div class="col-lg-3 col-md-6">
			<div class="row p-2">
				<div class="col-12 p-1" style="border:1px solid #008cba; border-radius: 5px;">
					<div class="card">
						<img src="@book.Cover" class="card-img-top rounded"/>

						<div class="card-body">
						<div class="pl-1">
							<p class="card-title h5 text-primary">@book.BookName</p>
							<br>
							<p class="card-title h5 text-primary">BookISBN:@book.BookISBN</p>
							<p class="card-title text-info">by <b>@book.Author.AuthorName</b></p>
							<p class="card-title text-info">Topic: <b>@book.Topic.TopicName</b></p>
							<p class="card-title text-info">Publisher: <b>@book.Publisher.PublisherName</b></p>
						</div>
						</div>
					</div>
					<div>
						<a asp-action="Details" class="btn btn-primary form-control" asp-route-id="@book.BookISBN">
							Details

						</a>
					</div>
				</div> 
			</div>
		</div>
	}
</div>
