@model IEnumerable<XPTOlibrary.Models.BorrowRecord>
@{
    ViewData["Title"] = "Index";
    string Record_Borrowed = "Borrowed";
    string Record_Delayed = "Delayed";
    string Record_Urgent = "Urgent";//3
    string Record_ReturnSoon = "Return Soon";//5
    string Record_Returned = "Returned";
}

<partial name="_Notification" />

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Borrow Record List</h2>
        </div>
        <div class="col-6 text-end">
        </div>
    </div>

    <br /><br />

    @using (Html.BeginForm())
    {
        <div class="form-horizontal">
            <label for="selectoption">Select Option:</label>
            <select id="SelectOption" name="SelectOption">
                @foreach(var core in Model){
                <option value="@core.Cores.CoreId">@core.Cores.CoreName</option>
                }
            </select>
            <div class="form-group form-group-sm">
                <div class="col-md-8">
                    @Html.TextBox("start", null, new { @class = "form-control datepicker" })
                </div>
            </div>
            <div class="form-group form-group-sm">
                <div class="col-md-8">
                    @Html.TextBox("end", null, new { @class = "form-control datepicker" })
                </div>
            </div>
            <div class="form-group-sm">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="filter" class="btn btn-default" /> <span> </span>
                </div>
            </div>
        </div>
    }

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
        <th>User Id</th>
            @*<th>User Name</th>*@
        <th>BookName</th>
        <th>CoreName</th>
        <th>Time Borrowed</th>
        <th>Time Returned</th>
        <th>Status</th>
        <th></th>
        </th>
        <tbody>
                @foreach (var obj in Model)
                {
                <tr>
                    <td>@obj.ApplicationUserId</td>
                        @*<td>@obj.ApplicationUserName</td>*@
                    <td>@obj.BookInformation.BookName</td>
                    <td>@obj.Cores.CoreName</td>
                    <td>@obj.DateBorrow</td>
                    <td>@obj.DateReturn</td>
                    <td>

                            @if (@obj.DateReturn == null)
                            {
                                @if (@obj.DateBorrow.AddDays(10) > DateTime.Today)
                                {
                                    @Record_Borrowed
                                }
                                @if (@obj.DateBorrow.AddDays(10) < DateTime.Today && @obj.DateBorrow.AddDays(12) > DateTime.Today)
                                {
                                    @Record_ReturnSoon
                                }
                                @if (@obj.DateBorrow.AddDays(12) < DateTime.Today && @obj.DateBorrow.AddDays(15) > DateTime.Today)
                                    @Record_Urgent



                                @if (@obj.DateBorrow.AddDays(15) < DateTime.Today)
                                {
                                    @Record_Delayed
                                }

                            }
                            else

                                @Record_Returned




                        </td>
                        <td>
                                @if (@obj.DateReturn == null)
                            {
                            <form asp-action="Return" asp-route-id="@obj.RecordId">
                                <input type="submit" value="Return" class="btn btn-danger" />
                            </form>


                            }
                    </td>
                </tr>
                }
        </tbody>
    </table>
</div>
@section Scripts{
	@{
    <partial name="_ValidationScriptsPartial" />
	}
}
