@model List<XPTOlibrary.Models.ViewModels.UserRolesVM>;
@{
    ViewData["Title"] = "Index";
}

<partial name="_Notification" />

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">ApplicationUser List</h2>

        </div>
        <br /><br />

        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
            <th>User Id</th>
            <th>User Name</th>
            <th>User Role</th>
            <th>Birthday</th>
            <th>Status</th>
            <th></th>
            <th></th>

            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.UserId</td>
                        <td>@user.Name</td>
                        <td>@string.Join(" , ", user.Roles.ToList())</td>
                        <td>@user.Birthday</td>
                        <td>@user.Status</td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                        <form asp-action="Reactivate" asp-route-id="@user.UserId">
                        <input type="submit" value="Reactivate" class="btn btn-primary mx-2" />
                        </form>
                            </div>
                        </td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="User" asp-action="Edit" asp-route-id="@user.UserId"
                               class="btn btn-primary mx-2">  Edit</a>
                        <form asp-action="Delete" asp-route-id="@user.UserId">
                        <input type="submit" value="Delete" class="btn btn-danger mx-2" />
                        </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
