@model IEnumerable<BookInformation>
@{
    ViewData["Title"] = "Index";
}

<partial name="_Notification" />

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Book List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Book" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Add New Book
            </a>
        </div>
    </div>
    <br /><br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
        <th>BookISBN</th>
        <th>Book Title</th>
        <th>PublisherId</th>
        <th>Cover</th>
        <th></th>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.BookISBN</td>
                    <td>@obj.BookName</td>
                    <td>@obj.PublisherId</td>
                    <td>@obj.Cover</td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Book" asp-action="Edit" asp-route-id="@obj.BookISBN"
                           class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i> Edit</a>
                            <a asp-controller="Book" asp-action="Delete" asp-route-id="@obj.BookISBN"
                           class="btn btn-danger mx-2"> <i class="bi bi-trash-fill"></i> Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

